# Ignore generated data in syntheticForestDataExtracted
glue-factory/data/syntheticForestData/imageData/
glue-factory/data/syntheticForestData/depthData/
glue-factory/data/syntheticForestData/poseData/
glue-factory/data/syntheticForestData/fileLists/
glue-factory/data/syntheticForestData/seasonsforest/
glue-factory/data/syntheticForestData/temp_extract/
glue-factory/data/syntheticForestData/*.zip

# Ignore all directories inside finnForest
glue-factory/data/finnForest/*/

__pycache__/
glue-factory/**/__pycache__/


*.zip
*.nfs*

# Misc pycache files
glue-factory/gluefactory.egg-info/
glue-factory/gluefactory/__pycache__/__init__.cpython-312.pyc
glue-factory/gluefactory/utils/__pycache__/__init__.cpython-312.pyc
glue-factory/gluefactory/utils/__pycache__/experiments.cpython-312.pyc
